/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
    font-family: 'Playfair Display', serif;
}
ol, ul{
	list-style:none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
    max-width: 100%
}

/* CSS for the my webpages, some of this css code was found on www.w3schools.com */
/* header */

/* background color  */
.header a:hover {
    background-color: lightpink;
    color: black;
}
.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
}


.header h3{
    margin-top: 3em;
    font-family: 'Playfair Display', serif;
    font-size: 1em;
}

.header h3 {
    transition: 4s;
}


#bxslider img{
    margin: 0 auto;
}

/* header links */
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    width: 100vw;
}
.header a.logo {
    width: 100px;
    height: auto;
    
}
.logo{
    width: 100px;
    height: auto;
    display: block;
    text-align: right;
}


/* active/current link */
.header a.active {
    background-color: lightpink;
    color: white;
}

.header-right {
    float: right;
}

.desc{
    font-size: 25px;
    text-align: justify;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 7%;
}

#personal-life{
    background-color: #FFE3ED; 
    min-height: 50vh;
    font-size: 3em;
    text-align: center;
}

#personal_life{
    width: 80%;
    height: 80%;
}

#bxslider img{
    margin: 0 auto;
}

#education{
    background-color: #FFE3ED;
    min-height: 50vh;
    font-size: 3em;
    text-align: center;
}

#bxslider img{
    margin: 0 auto;
}

h1{
    font-size:30px;
    text-align: center;
}

h2{
    font-size:.5em;
    text-align: center;
}

.desc{
    font-size: 20px;
}

#volleyball{
    background-color: #FFE3ED;
}

#vballawards li{
    list-style: inside;
    display: list-item;
}
#music{
    background-color: #FFE3ED;
}

#artists li{
    list-style: inside;
    display: list-item; 
    text-align: left;
}

#comment-section{
    background-color: #FFE3ED;
    min-height: 50vh;
    font-size: 1.5em;
    padding-left: 2%;
}

label{
    display: block;
    width: 100%;
}

input#email{
    font-size: 100%;
    width: 250px;
    margin: 10px;
    box-sizing: border-box;
    border: 1px #222;
    border-radius: 15px;
}

img {
    max-width: 97%;
}

/* screen responsive */
@media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }
  